.mobile-footer{
    display:none;
}

@media (max-width:768px){

    #footer{
        padding: 0rem 1rem;
    }

    .mobile-footer{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;

        padding:20px 10px;
        gap:8px;

        text-align:center;

        color:var(--cor2-);
        font-size:0.9rem;

        border-top:1px solid rgba(39,140,255,0.2);
        margin-top:40px;
    }

    .footer-text{
        color:var(--cor1-);
    }

}