.about-section {
  width: 100%;
  max-height: 80vh;
  padding: 8rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  color: #fff;
}

.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xp-container {
  background: rgba(30, 30, 35, 0.6);
  padding: 2rem 3rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 25px rgba(0, 130, 255, 0.3);
}

.xp-container p {
  font-size: 3rem;
  font-weight: 800;
  color: #2ea3ff;
  margin-bottom: 10px;
}

.xp-container span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ddd;
}

.img-container img {
  width: 300px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 130, 255, 0.25);
}

.tex-conteiner {
  max-width: 500px;
  text-align: center;
}

.tex-conteiner h2 {
  font-size: 2.8rem;
  font-weight: 800;
  position: relative;
  margin-bottom: 1.8rem;
}

.tex-conteiner h2::after {
  content: "";
  width: 120px;
  height: 4px;
  background: #2ea3ff;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  border-radius: 4px;
}

.tex-conteiner p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ddd;
  font-weight: 500;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  #sobre{
    padding: 1rem 1rem ;
  }

  .about-section {
    width: 100%;
    max-height: auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8rem;
  }

  .main-about {
    width: 100%;
    order: 1;
  }

  .xp-container {
    background: rgba(30, 30, 35, 0.6);
    padding: 1.5rem 1.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(0, 130, 255, 0.3);
  }

  .stat-block {
    flex: 1;
    text-align: center;
  }

  .xp-container p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .xp-container span {
    font-size: 0.8rem;
  }

  .img-container {
    order: 1;
  }

  .img-container img {
    width: 200px;
    height: 300px;
  }

  .tex-conteiner {
    max-width: 100%;
    text-align: center;
    order: 3;
  }

  .tex-conteiner h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .tex-conteiner h2::after {
    width: 80px;
  }

  .tex-conteiner p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}