.section-projects {
    height: 100vh;
    padding: 120px 8% 80px;
    display: flex;
    flex-direction: column;
}

.projects-scroll-container {
    flex: 1;
    overflow-y: auto;   
    padding-right: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.projects-scroll-container::-webkit-scrollbar {
    width: 10px;
    cursor: grabbing;
}

.projects-scroll-container::-webkit-scrollbar-thumb {
    background-color: #2f80ed;
    border-radius: 10px;
}

.projects-scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.project-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}